.contenedor {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
    gap: 16px; /* Espacio vertical entre los elementos */
}

.form-title {
    text-align: center; /* Centra el texto del título */
    margin-bottom: 24px; /* Agrega espacio debajo del título */
  }

  .botones-container-inline {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
  }
  
  .botonEscribir {
    margin: 0; /* Elimina los márgenes adicionales */
  }
  
  .mat-elevation-z8 {
    margin: 0 auto; /* Centra la tabla horizontalmente */
    max-width: 70%; /* Ajusta el ancho máximo de la tabla */
  }
  
  .mat-header-cell, .mat-cell {
    padding: 8px;
  }
  
  .mat-header-cell {
    font-weight: bold;
  }
  
  .mat-button {
    margin-right: 8px;
  }
  
  /* Opcional: Ajustar el ancho de las columnas específicas si es necesario */

  
  .mat-column-fechaEnvio {
    max-width: 20px; /* Ajusta el ancho máximo de la columna Fecha Envio */
  }
  
  .mat-column-nombreEmisor {
    max-width: 20px; /* Ajusta el ancho máximo de la columna Nombre Emisor */
  }

  .mat-column-acciones {
    max-width: 20px; /* Ajusta el ancho máximo de la columna Nombre Emisor */
  }
  
  .hidden-column {
    display: none;
  }
  